<%= render partial: "layouts/template/navbar" %>

<!-- 
<div class="row">
  <h1 class="text-center">Products</h1>
</div>
<div class="row">
  <% @products.each do |product| %>
    <%= render partial: "products/products_index" %>
  <% end %>
</div>
-->
