<nav class="navbar nav-layout navbar-expand-lg bg-dark">
  <div class="container-fluid d-flex justify-content-end">
    <button type="button" class="btn btn-light"><%= link_to 'Sign out', destroy_user_session_path %></button>
  </div>
</nav>